.top-page
  .top-page__title
    %h1.top-page-main-title Dog
    
    .top-page__title__image{style: "background-image: url(https://cdn.pixabay.com/photo/2019/04/10/23/51/dog-4118585_1280.jpg);"}
  .top-page__texts
    - if user_signed_in?
      = link_to 'Welcome to Dog', root_path, class: "top-text"
      %br
      %br
      = link_to 'New article', posts_path, class: "top-text"
    - else
      = link_to 'Sign up', new_user_registration_path, class: "top-text"
      = link_to 'Log in', new_user_session_path, class: "top-text"
