.top-page
  .top-page__image
  .top-page__image-first
  .top-page__image-second
  .top-page__image-third
  .top-page__image-fourth
  .top-page__image-fifth
  .top-page__title
    %h1.top-page-main-title PEP
    .top-page__title__texts
      - if user_signed_in?
        -# = link_to 'Welcome to Dog', root_path, class: "top-welcome-text"
        %br
        %br
        -# = link_to 'New article', posts_path, class: "top-article-text"
      - else
        -# = link_to 'Sign up', new_user_registration_path, class: "top-text"
        -# = link_to 'Log in', new_user_session_path, class: "top-text"
  .top-page__image-top
  .top-page__image-top-first
  .top-page__image-top-second
  .top-page__image-top-third
  .top-page__image-top-fourth
  .top-page__image-top-fifth
  .top-page__image-bottom
  .top-page__image-bottom-first
  .top-page__image-bottom-second
  .top-page__image-bottom-third
  .top-page__image-bottom-fourth
  .top-page__image-bottom-fifth
