<h3 class="page-name">■最新投稿一覧ページ</h3>
<% @posts.each do |post| %>
  <div class="post-box">
    <div class="post-content">
      ■ <%= link_to post.title, post_path(post.id), class: :post__title %>
    </div>
    <div class="post-Contributor">
      投稿主 <%= link_to post.user.nickname, user_path(post.user), class: "user-all-post" %>
      <%# <%= link_to post.image, class: "post-image" %> 
    </div>
    <div class="post-date">
      投稿日時 <%= post.created_at %>
    </div>
  </div>
<% end %>
<div class="content1">
  <div class="content1-box"></div>
</div>