.footer {
  background-color: black;
  height: 70px;
  width: auto;
  // border-bottom: solid 3px white;
  &__content {
    background-color: black;
    padding: 10px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    // border: solid 1px white;
    .footer-boxs {
      border-top: solid 1px white;
      text-align: center;
      margin: auto 0;
      width: 100%;
      padding: 15px 0 0 0;
      .footer-box {
        color: white;
        margin: auto 10px;
        // border: solid 1px white;
        text-decoration: none;
        &:hover {
          opacity: 0.6;
          color: goldenrod;
        }
      }
    }
  }
}