.header {
  // background-color: black;
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  border-bottom: solid 1px white;
  &__content {
    // background-color: black;
    height: 40px;
    display: flex;
    justify-content: space-between;
    // border: solid 1px white;
    .header-boxs {
      // border: solid 1px white;
      text-align: center;
      margin: auto 0;
      width: 100%;
      padding: 15px 0 0 0;
      .header-box {
        color: white;
        margin: auto 10px;
        text-decoration: none;
        // border: solid 1px white;
        &:hover {
          color: goldenrod;
          font-weight: bold;
        }
      }
    }
  }
}