.article-header {
  background-color: black;
  // border: solid 1px white;
  height: 50px;
  width: 100%;
}

.article-page {
  background-color: black;
  height: 91vh;
  width: 100%;
  display: flex;
  &__image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    &__left {
      // border: solid 1px white;
      height: auto;
      width: 80%;
      &__box {
        height: 80vh;
        width: 90%;
        margin-left: auto;
        // background-color: black;
        // border: solid 1px white;
        overflow: scroll;
        // display: flex;
        &__contents {
          // background-color: black;
          width: 90%;
          padding: 0 5px;
          height: auto;
          // border: solid 1px white;
          margin: auto;
          .post-content__header {
            height: 50px;
            // background-color: black;
            &__box {
              // border: solid 1px white;
              border-top: solid 1px lightgray;
              line-height: 25px;
              &__user-name {
                font-size: 12px;
                font-weight: bold;
              }
              &__title {
                font-size: 14px;
                font-weight: bold;
              }
            }
            .post-content__header {
              text-decoration: none;
              color: white;
              margin-left: 30px;
              &:hover {
                color: goldenrod;
              }
            }
          }
          .post-content__image {
            width: 280px;
            height: 180px;
            // border: solid 1px white;
            border-top: none;
            border-bottom: none;
            margin-left: 30px;
            &__box {
              width: 280px;
              height: 180px;
              // border: solid 1px white;
              background-size: cover;
              background-repeat: no-repeat;
            }
          }
          .post-content__footer {
            height: 50px;
            border-bottom: solid 1px lightgray;
            &__box {
              color: white;
              font-size: 12px;
              line-height: 50px;
              text-align: right;
              margin-right: 30px;
            }
          }
        }
      }
    }
  }
  &__right {
    // border: solid 1px white;
    height: auto;
    width: 20%;
    // border: solid 1px white;
    &__box {
      // border: solid 1px white;
      height: 90vh;
      width: 80%;
      background-color: black;

    }
  }
}







// body {
//   height: 100%;
//   width: 100%;
//   margin: 0;
//   padding: 0;
// }

// .rr-title {
//   color: white;
//   margin-left: 20px;
//   font-weight: bold;
//   position: absolute;
//   margin-left: 40px;
// }

// .header-icon {
//   color: white;
//   margin-left: 20px;
//   margin-bottom: 3px;
// }

// .top-title {
//   margin-left: 0;
//   color: white;
//   position: absolute;
//   margin-left: 660px;
// }

// .rightbox {
//   list-style: none;
//   display: flex;
//   margin-right: 40px;
// }

// .login-box {
//   margin: 0px 20px 0px 0px;
//   padding: 3px;
//   color: white;
// }

// .sign-up-box {
//   padding: 3px;
//   margin: 0px 20px 0px 0px;
//   color: white;
// }

// .article {
//   padding: 3px;
//   margin: 0px 20px 0px 0px;
//   color: white;
// }

// .new {
//   padding: 3px;
//   margin: 0px 20px 0px 0px;
//   color: white;
// }

// a {
//   color: black;
//   text-decoration:none;
//   font-weight: bold;
// }

// .post__title {
//   color: black;
// }


// .content1 {
//   height: 650px;
//   text-align: center;
// }

// .read-button {
//   line-height: 700px;
//   text-align: center;
// }

// .footer {
//   background-color: #556B2F;
//   height: 60px;
//   width: 100%;
//   text-align: center;
//   line-height: 60px;
//   color: white;
//   margin-top: 95px;
// }

// .post-box {
//   margin: auto;
//   border: double 4px;
//   background-color: white;
//   margin-bottom: 10px;
//   margin-top: 30px;
//   text-align: center;
//   font-weight: bold;
// }

// .post-image {
//   width: 50vw;
//   height: 50vh;
//   background-size: cover;
//   display: block;
//   margin: auto;
// }

// .post-content {
//   color: black;
//   margin-top: 10px;
// }

// .post-Contributor {
//   color: gray;
//   margin-top: 10px;
// }

// .post-date {
//   color: gray;
// }

// .done {
//   text-align: center;
//   line-height: 100px;
//   color: black;
//   font-weight: bold;
// }

// .done-message {
//   margin-left: 5px;
//   margin-top: 30px;
// }

// .title-title {
//   text-align: center;
//   font-weight: bold;
//   margin-top: 20px;
// }

// .details-text-title {
//   text-align: center;
//   font-weight: bold;
// }

// .post-Contributor {
//   text-align: center;
//   font-weight: bold;
//   margin-bottom: 20px;
// }

// .details {
//   text-align: center;
//   margin: auto;
//   border: double 4px;
//   background-color: white;
//   margin-bottom: 30px;
//   margin-top: 10px;
//   text-align: center;
//   width: 100vh;
// }

// .details-created_at {
//   color: gray;
// }

// .details-title {
//   margin: auto;
//   border: double 4px;
//   background-color: white;
//   margin-bottom: 10px;
//   margin-top: 10px;
//   text-align: center;
//   width: 100vh;
//   font-weight: bold;
//   padding: 20px 0px 20px 0px;
// }

// .details-text {
//   padding: 20px 0px 20px 0px;
// }

// .comment-name {
//   font-weight: bold;
//   text-align: center;
//   display: block;
//   color: black;
//   border: double 4px ;
//   width: 94vh;
//   margin: auto;
//   margin-top: 15px;
//   margin-bottom: 15px;
//   padding: 20px;
// }

// .form__comment {
//   margin: auto;
//   border: solid 2px;
//   background-color: white;
//   text-align: center;
//   width: 100vh;
//   height: 30vh;
//   font-weight: bold;
//   padding: 20px 0px 20px 0px;
//   display: block;
// }

// .comments-box {
//   display: block;
//   margin: 50px auto 0;
//   padding: 10px;
//   font-weight: bold;
//   text-align: center;
//   margin-top: 30px;
// }

// .form__comment__btn {
//   font-weight: bold;
//   text-align: center;
//   display: block;
//   color: black;
//   border: solid 2px ;
//   width: 29vh;
//   margin: auto;
//   margin-top: 40px;
//   margin-bottom: 40px;
// }

// .details-edit {
//   display: flex;
  
// }

// .details-edit__1 {
//   font-weight: bold;
//   text-align: center;
//   display: block;
//   color: black;
//   border: solid 2px ;
//   width: 29vh;
//   margin: auto;
//   margin-top: 40px;
//   margin-right: 5px;
// }

// .details-delete {
//   font-weight: bold;
//   text-align: center;
//   display: block;
//   color: black;
//   border: solid 2px;
//   width: 29vh;
//   margin: auto;
//   margin-top: 30px;
//   margin-bottom: 40px;
// }

// .form {
//   width: 85%;
//   height: 100%;
//   margin: 0 auto;
//   padding-top: 30px;
//   padding-top: 100px;
// }

// .form__title {
//   display: block;
//   width: 60vw;
//   height: 50px;
//   border: solid 2px;
//   font-weight: bold;
//   margin: auto;
//   margin-bottom: 30px;
//   opacity: 0.9;
// }

// .form__image {
//   display: block;
//   width: 60vw;
//   height: 50px;
//   border: solid 2px;
//   font-weight: bold;
//   margin: auto;
//   margin-bottom: 30px;
//   opacity: 0.9;
// }

// .form__text {
//   display: block;
//   width: 60vw;   
//   height: 300px;
//   margin-top: 30px;
//   border: solid 2px;
//   font-weight: bold;
//   margin: auto;
//   opacity: 0.9;
// }

// .form__btn {
//   display: block;
//   width: 180px;
//   margin: 50px auto 0;
//   padding: 10px;
//   border: solid 2px;
//   font-weight: bold;
//   margin-bottom: 50px;
//   opacity: 0.9;
// }

// .page-a {
// }

// .page-name {
//   background-color: white;
//   margin: auto;
//   border: solid 2px;
//   text-align: center;
//   width: 25vh;
//   font-weight: bold;
//   padding: 10px;
//   opacity: 0.9;
// }

// .user-post-list {
//   margin-top: 20px;
// }

// .sign-up-title {
//   margin: auto;
//   border: solid 3px;
//   margin-top: 30px;
//   margin-bottom: 30px;
//   text-align: center;
//   width: 70vh;
//   font-weight: bold;
// }

// .actions {
//   font-weight: bold;
//   display: block;
//   margin-top: 20px;
//   margin-bottom: 20px;
// }

// .paginate {
//   position: absolute;
//   padding: 20px;
// }
// /////////////////////////////////////////////@extend

// .content-a {
//   background-color: white;
//   width: 100%;
//   height: 100%;
// }

// .content1-a {
//   background-color: white;
//   width: 100vw;
//   height: 50vh;
//   margin: auto;
// }

// .post-a {
//   background-color: white;
//   width: 90vw;
//   height: 50vh;
//   margin: auto;
// }

// .post-image-a {
//   width: 74%;
//   height: 90%;
//   text-align: center;
//   margin: auto;
// }

// .post-image-s {
//   width: 100%;
//   height: 100%;
//   text-align: center;
// }

// .post-box-a {
//   background-color: white;
//   width: 100%;
//   height: 23%;
//   position: relative;
// }

// .post-box-title-a {
//   width: 100%;
//   height: 40%;
//   font-size: 35px;
//   position: absolute;
//   margin-left: 170px;
// }

// .post-box-under-a {
//   background-color: red;
//   width: 20%;
//   height: 20%;
//   position: relative;
// }

// .post-box-under-name-a {
//   background-color: white;
//   margin-left: 170px;
//   position: absolute;
//   margin-top: 50px;
// }

// .post-box-under-created_at-a {
//   color: gray;
//   margin-left: 170px;
//   position: absolute;
//   margin-top: 50px;
//   margin-left: 917px;
// }

// .post-image-n {
//   width: 100vw;
//   height: 100vh;
//   background-size: cover;
//   margin: auto;
// }