// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #556B2F;
  height: 60px;
  width: 100%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  position: relative;
}

.header-title {
  background-color: white;
  color: #666666;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  width: 300px;
  margin-left: 600px;
  display: flex;
  justify-content: space-between;
}

.rr-title {
  color: goldenrod;
  margin-left: 20px;
  font-weight: bold;
  position: absolute;
  margin-left: 40px;
}

.header-icon {
  color: goldenrod;
  margin-left: 20px;
  margin-bottom: 3px;
}

.top-title {
  margin-left: 0;
  color: white;
  position: absolute;
  margin-left: 660px;
}

.rightbox {
  list-style: none;
  display: flex;
  margin-right: 40px;
}

.login-box {
  margin: 0px 20px 0px 0px;
  padding: 3px;
  color: white;
}

.sign-up-box {
  padding: 3px;
  margin: 0px 20px 0px 0px;
  color: white;
}

.article {
  padding: 3px;
  margin: 0px 20px 0px 0px;
  color: white;
}

.new {
  padding: 3px;
  margin: 0px 20px 0px 0px;
  color: white;
}

a {
  color: goldenrod;
  text-decoration:none;
}

.post__title {
  color: black;
}


.content1 {
  background-color: white;
  height: 650px;
  text-align: center;
}

.read-button {
  line-height: 700px;
  text-align: center;
}

.footer {
  background-color: #556B2F;
  height: 60px;
  width: 100%;
  text-align: center;
  line-height: 60px;
  color: white;
}

.post-box {
  margin: auto;
  border: double 4px;
  background-color: white;
  margin-bottom: 10px;
  margin-top: 30px;
  text-align: center;
  width: 80vh;
  font-weight: bold;
  padding: 25px;
}

.post-content {
  color: black;
  margin-top: 10px;
}

.post-Contributor {
  color: gray;
  margin-top: 10px;
}

.post-date {
  color: gray;
}

.done {
  text-align: center;
  line-height: 100px;
  color: black;
  font-weight: bold;
}

.done-message {
  margin-left: 5px;
  margin-top: 30px;
}

.title-title {
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
}

.details-text-title {
  text-align: center;
  font-weight: bold;
}

.post-Contributor {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.details {
  text-align: center;
  margin: auto;
  border: double 4px;
  background-color: white;
  margin-bottom: 30px;
  margin-top: 10px;
  text-align: center;
  width: 100vh;
}

.details-created_at {
  color: gray;
}

.details-title {
  margin: auto;
  border: double 4px;
  background-color: white;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  width: 100vh;
  font-weight: bold;
  padding: 20px 0px 20px 0px;
}

.details-text {
  padding: 20px 0px 20px 0px;
}

.details-edit {
  display: flex;
  
}

.details-edit__1 {
  font-weight: bold;
  text-align: center;
  display: block;
  color: black;
  border: solid 2px ;
  width: 29vh;
  margin: auto;
  margin-top: 40px;
  margin-right: 5px;
}

.details-delete {
  font-weight: bold;
  text-align: center;
  display: block;
  color: black;
  border: solid 2px;
  width: 29vh;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 40px;
}

.form {
  width: 85%;
  height: 100%;
  margin: 0 auto;
  padding-top: 30px;
}

.form__title {
  display: block;
  width: 60vw;
  height: 50px;
  border: solid 2px;
  font-weight: bold;
  margin: auto;
  margin-bottom: 30px;
}

.form__image {
  display: block;
  width: 60vw;
  height: 50px;
  border: solid 2px;
  font-weight: bold;
  margin: auto;
  margin-bottom: 30px;
}

.form__text {
  display: block;
  width: 60vw;   
  height: 300px;
  margin-top: 30px;
  border: solid 2px;
  font-weight: bold;
  margin: auto;
}

.form__btn {
  display: block;
  width: 180px;
  margin: 50px auto 0;
  padding: 10px;
  border: solid 2px;
  font-weight: bold;
  margin-bottom: 50px;
}

.page-name {
  margin: auto;
  border: solid 3px;
  margin-top: 20px;
  text-align: center;
  width: 25vh;
  font-weight: bold;
}

.user-post-list {
  margin-top: 20px;
}

.sign-up-title {
  margin: auto;
  border: solid 3px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  width: 70vh;
  font-weight: bold;
}

.actions {
  font-weight: bold;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}