.show-post {
  height: auto;
  width: 100%;
  background-color: whitesmoke;
  padding: 100px 0;
  &__main {
    width: 50%;
    height: 100%;
    // border: solid 1px black;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    padding: 20px 15px;
    &__image {
      height: 420px;
      width: 100%;
      // border: solid 1px black;
      margin: auto;
      background-color: black;
      border-radius: 5px;
      &__box {
        height: 100%;
        width: 100%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    &__title {
      height: auto;
      width: 90%;
      // border: solid 1px black;
      margin: auto;
      font-size: 25px;
      font-weight: bold;
      padding: 25px 0 40px 0; 
      word-wrap: break-word;
    }
    &__user-name {
      height: auto;
      width: 90%;
      // border: solid 1px black;
      margin: auto;
    }
    &__created-at {
      height: auto;
      width: 90%;
      // border: solid 1px black;
      margin: auto;
      color: gray;
      font-size: 12px;
    }
    &__text {
      height: auto;
      width: 90%;
      // border: solid 1px black;
      margin: auto;
      font-size: 18px;
      padding: 40px 0;
      color: #2b2b2b;
      letter-spacing: 1px;
      line-height: 18px;
      white-space: pre-wrap;
      word-wrap: break-word;
    }
    &__show-comment {
      height: auto;
      width: 90%;
      // border: solid 1px black;
      margin: auto;
    }
    &__comment-form {
      height: 10%;
      width: 90%;
      // border: solid 1px black;
      margin: auto;
    }
  }
}