.sign-in-page {
  width: 100vw;
  height: 85vh;
  background-color: whitesmoke;
  position: relative;
  &__main {
    // border: solid 1px;
    width: 75vw;
    height: auto;
    text-align: center;
    background-color: white;
    position: absolute;;
    margin: 50px 0 0 50px;
    padding: 30px 0 50px 0;
    font-size: 10px;
    .sign-in-title-message {
      font-size: 15px;
      font-weight: bold;
      margin-bottom: 30px;
    }
  }
}

@media (min-width: 480px){
  .sign-in-page {
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
    position: relative;
    &__main {
      // border: solid 1px;
      width: 40%;
      height: auto;
      text-align: center;
      background-color: white;
      position: absolute;
      margin: 100px 0 0 435px;
      padding: 50px 0 80px 0;
      .sign-in-title-message {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 30px;
      }
    }
  }
}