.top-page {
  background-color: whitesmoke;
  height: 100vh;
  width: 100vw;
  position: relative;
  font-family: serif;
  &__title {
    color: white;
    font-size: 30px;
    position: absolute;
    margin: 240px 0 0 180px;
    font-weight: bold;
    @keyframes typing { from { width: 0; } }
    @keyframes caret { 50% { border-color: transparent; } }
    width: 3.4ch;
    height: 40px;
    border-right: .02em solid;
    overflow: hidden;
    animation: typing 800ms steps(3, end), caret .9s step-end infinite;
    text-shadow: black 2px 2px 6px;
    .top-page-main-title {
      // margin: 260px 0 0 180px;
      // font-weight: bold;
      // @keyframes typing { from { width: 0; } }
      // @keyframes caret { 50% { border-color: transparent; } }
      // width: 3.3ch;
      // border-right: .02em solid;
      // overflow: hidden;
      // animation: typing 800ms steps(3, end), caret .9s step-end infinite;
      // text-shadow: black 2px 2px 6px;
    }
  //   &__texts {
  //     font-size: 20px;
  //     text-align: center;
  //     .top-welcome-text {
  //       color: white;
  //       display: block;
  //       text-decoration: none;
  //       &:hover {
  //         color: goldenrod;
  //         font-weight: bold;
  //       }
  //     }
  //     .top-article-text {
  //       color: white;
  //       display: block;
  //       text-decoration: none;
  //       &:hover {
  //         color: goldenrod;
  //         font-weight: bold;
  //       }
  //     }
  //   }
  }
  &__image {
    // border: solid 1px white;
    // margin-top: 250px;
    position: absolute;
    width: 100%;
    height: 100px;
    // animation-delay:1s;
    @keyframes album {
      0% {
        opacity: 0;
      }
      
      10% {
        opacity: 1;
      }

      20% {
        opacity: 1;
      }

      30% {
        opacity: 1;
      }

      40% {
        opacity: 1;
      }

      50% {
        opacity: 1;
      }

      60% {
        opacity: 1;
      }

      70% {
        opacity: 1;
      }

      80% {
        opacity: 1;
      }

      90% {
        opacity: 0;
      }

      100% {
        opacity: 0;
      }
    }
    &__title {
      color: white;
      font-size: 15px;
      // position: absolute;
      .top-page-main-title {
        // transform: translate(50%, 100%);
        margin: 80px 0 0 10px;
        font-weight: bold;
        // @keyframes typing { from { width: 0; } }
        // @keyframes caret { 50% { border-color: transparent; } }
        // width: 3ch;
        // border-right: .02em solid;
        // overflow: hidden;
        // animation: typing 800ms steps(3, end), caret .9s step-end infinite;
        text-shadow: black 3px 3px 7px;
      }
    }
  }
  &__image-first {
    // border: solid 1px white;
    // margin-top: 189.3px;
    transform: translate(0%, 97.5%);
    position: absolute;
    width: 100%;
    height: 34.2%;
    background-size: cover;
    background-image: url(https://cdn.pixabay.com/photo/2015/07/28/22/01/office-865091_1280.jpg);
    // 黒机スマホ↑
    background-position: 100% 45%;
    animation-name: album;
    animation-duration: 13s;
    animation-iteration-count: 1;
    opacity: 0;
    animation-delay:0s;
  }
  &__image-second {
    // border: solid 1px white;
    // margin-top: 189.3px;
    transform: translate(0%, 97.5%);
    position: absolute;
    width: 100%;
    height: 34.2%;
    background-size: cover;
    background-image: url(https://cdn.pixabay.com/photo/2019/12/18/10/15/roast-beef-4703583_1280.jpg);
    background-position: 100% 50%;
    animation-name: album;
    animation-duration: 13s;
    animation-iteration-count: 1;
    opacity: 0;
    animation-delay:10s;
  }
  &__image-third {
    // border: solid 1px white;
    // margin-top: 189.3px;
    transform: translate(0%, 97.5%);
    position: absolute;
    width: 100%;
    height: 34.2%;
    background-size: cover;
    background-image: url(https://cdn.pixabay.com/photo/2016/03/09/10/37/light-bulb-1246043_1280.jpg);
    // 釣竿↑
    background-position: 100% 45%;
    animation-name: album;
    animation-duration: 13s;
    animation-iteration-count: 1;
    opacity: 0;
    animation-delay:20s;
  }
  &__image-fourth {
    // border: solid 1px white;
    // margin-top: 189.3px;
    transform: translate(0%, 97.5%);
    position: absolute;
    width: 100%;
    height: 34.2%;
    background-size: cover;
    background-image: url(https://cdn.pixabay.com/photo/2014/09/13/21/40/newspapers-444449_1280.jpg);
    // 登山？↑
    background-position: 100% 63%;
    animation-name: album;
    animation-duration: 13s;
    animation-iteration-count: 1;
    opacity: 0;
    animation-delay:30s;
  }
  &__image-fifth {
    // border: solid 1px white;
    // margin-top: 189.3px;
    transform: translate(0%, 97.5%);
    position: absolute;
    width: 100%;
    height: 34.2%;
    background-size: cover;
    background-image: url(https://cdn.pixabay.com/photo/2016/11/21/15/08/computer-1845880_1280.jpg);
    // 釣竿↑
    background-position: 100% 90%;
    animation-name: album;
    animation-duration: 12s;
    animation-iteration-count: 1;
    opacity: 0;
    animation-delay:40s;
  }
  &__image-top {
    // border: solid 1px white;
    position: absolute;
    width: 100%;
    height: 33%;
    // animation-delay:10s;
  }
  &__image-top-first {
    // border: solid 1px white;
    position: absolute;
    width: 100%;
    height: 33%;
    background-size: cover;
    background-image: url(https://cdn.pixabay.com/photo/2015/06/08/15/09/photography-801891_1280.jpg);
    // 白机スマホ↑
    background-position: 100% 55%;
    animation-name: album;
    animation-duration: 10s;
    animation-iteration-count: 1;
    opacity: 0;
    animation-delay:0s;
  }
  &__image-top-second {
    // border: solid 1px white;
    position: absolute;
    width: 100%;
    height: 33%;
    background-size: cover;
    background-image: url(https://cdn.pixabay.com/photo/2015/03/26/09/43/living-room-690174_1280.jpg);
    background-position: 100% 82%;
    animation-name: album;
    animation-duration: 13s;
    animation-iteration-count: 1;
    opacity: 0;
    animation-delay:7s;
  }
  &__image-top-third {
    // border: solid 1px white;
    position: absolute;
    width: 100%;
    height: 33%;
    background-size: cover;
    background-image: url(https://cdn.pixabay.com/photo/2016/12/01/22/16/smiley-1876329_1280.jpg);
    background-position: 100% 20%;
    animation-name: album;
    animation-duration: 13s;
    animation-iteration-count: 1;
    opacity: 0;
    animation-delay:17s;
  }
  &__image-top-fourth {
    // border: solid 1px white;
    position: absolute;
    width: 100%;
    height: 33%;
    background-size: cover;
    background-image: url(https://cdn.pixabay.com/photo/2016/03/27/19/32/blur-1283865_1280.jpg);
    background-position: 100% 70%;
    animation-name: album;
    animation-duration: 13s;
    animation-iteration-count: 1;
    opacity: 0;
    animation-delay:27s;
  }
  &__image-top-fifth {
    // border: solid 1px white;
    position: absolute;
    width: 100%;
    height: 33%;
    background-size: cover;
    background-image: url(https://cdn.pixabay.com/photo/2016/12/30/17/27/cat-1941089_1280.jpg);
    background-position: 100% 40%;
    animation-name: album;
    animation-duration: 15s;
    animation-iteration-count: 1;
    opacity: 0;
    animation-delay:37s;
  }
  &__image-bottom {
    // border: solid 1px white;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 32%;
    // animation-delay:10s;
  }
  &__image-bottom-first {
    // border: solid 1px white;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 32%;
    background-size: cover;
    background-image: url(https://cdn.pixabay.com/photo/2018/07/11/16/32/hands-3531350_1280.jpg);
    background-position: 100% 55%;
    animation-name: album;
    animation-duration: 8s;
    animation-iteration-count: 1;
    opacity: 0;
    animation-delay:0s;
  }
  &__image-bottom-second {
    // border: solid 1px white;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 32%;
    background-size: cover;
    background-image: url(https://cdn.pixabay.com/photo/2016/04/15/14/07/sunset-1331088_1280.jpg);
    background-position: 100% 45%;
    animation-name: album;
    animation-duration: 13s;
    animation-iteration-count: 1;
    opacity: 0;
    animation-delay:5s;
  }
  &__image-bottom-third {
    // border: solid 1px white;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 32%;
    background-size: cover;
    background-image: url(https://cdn.pixabay.com/photo/2017/07/02/19/24/dumbbells-2465478_1280.jpg);
    background-position: 100% 60%;
    animation-name: album;
    animation-duration: 13s;
    animation-iteration-count: 1;
    opacity: 0;
    animation-delay:15s;
  }
  &__image-bottom-fourth {
    // border: solid 1px white;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 32%;
    background-size: cover;
    background-image: url(https://cdn.pixabay.com/photo/2016/11/22/21/36/audience-1850665_1280.jpg);
    background-position: 100% 40%;
    animation-name: album;
    animation-duration: 13s;
    animation-iteration-count: 1;
    opacity: 0;
    animation-delay:25s;
  }
  &__image-bottom-fifth {
    // border: solid 1px white;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 32%;
    background-size: cover;
    background-image: url(https://cdn.pixabay.com/photo/2016/11/29/09/42/camera-1868773_1280.jpg);
    background-position: 100% 50%;
    animation-name: album;
    animation-duration: 18.5s;
    animation-iteration-count: 1;
    opacity: 0;
    animation-delay:35s;
  }
}





@media (min-width: 321px){
  .top-page {
    // width: 414px;
    &__title {
      .top-page-main-title {
        margin: 288px 0 0 220px;
      }
    }
  }
}




@media (min-width: 361px) and (min-height: 641px){
  .top-page {
    // width: 414px;
    &__title {
      .top-page-main-title {
        margin: 295px 0 0 220px;
      }
    }
  }
}




@media (min-width: 361px) and (min-height: 668px){
  .top-page {
    // width: 414px;
    &__title {
      .top-page-main-title {
        margin: 390px 0 0 50px;
      }
    }
  }
}










@media (min-width: 376px){
  .top-page {
    // width: 414px;
    &__title {
      .top-page-main-title {
        margin: 350px 0 0 50px;
      }
    }
  }
}

@media (min-width: 415px){
  .top-page {
    // width: 414px;
    &__title {
      font-size: 100px;
      .top-page-main-title {
        margin: 450px 0 0 50px;
      }
    }
  }
}












@media (min-width: 769px){
  .top-page {
    background-color: whitesmoke;
    height: 92vh;
    width: 100%;
    position: relative;
    &__title {
      // text-align: center;
      // color: white;
      // font-size: 130px;
      // margin: auto;
      // position: absolute;
      // z-index: 1;
      .top-page-main-title {
        // margin: 270px 0 0 180px;
        // font-weight: bold;
        // @keyframes typing { from { width: 0; } }
        // @keyframes caret { 50% { border-color: transparent; } }
        // width: 3.2ch;
        // border-right: .02em solid;
        // overflow: hidden;
        // animation: typing 800ms steps(3, end), caret .9s step-end infinite;
        // text-shadow: black 2px 2px 6px;
      }
      &__texts {
        font-size: 20px;
        text-align: center;
        .top-welcome-text {
          color: white;
          display: block;
          text-decoration: none;
          &:hover {
            color: goldenrod;
            font-weight: bold;
          }
        }
        .top-article-text {
          color: white;
          display: block;
          text-decoration: none;
          &:hover {
            color: goldenrod;
            font-weight: bold;
          }
        }
      }
    }
    &__image {
      // border: solid 1px white;
      margin-top: 250px;
      position: absolute;
      width: 100%;
      height: 34%;
      // animation-delay:1s;
      @keyframes album {
        0% {
          opacity: 0;
        }
        
        10% {
          opacity: 1;
        }

        20% {
          opacity: 1;
        }

        30% {
          opacity: 1;
        }

        40% {
          opacity: 1;
        }

        50% {
          opacity: 1;
        }

        60% {
          opacity: 1;
        }

        70% {
          opacity: 1;
        }

        80% {
          opacity: 1;
        }

        90% {
          opacity: 0;
        }

        100% {
          opacity: 0;
        }
      }
    }
    &__image-first {
      // border: solid 1px white;
      // margin-top: 250px;
      transform: translate(0%, 100.5%);
      position: absolute;
      width: 100%;
      height: 34.2%;
      background-size: cover;
      // background-image: url(https://cdn.pixabay.com/photo/2015/07/28/22/01/office-865091_1280.jpg);
      // 黒机スマホ↑
      background-position: 100% 45%;
      animation-name: album;
      animation-duration: 13s;
      animation-iteration-count: 1;
      opacity: 0;
      animation-delay:0s;
    }
    &__image-second {
      // border: solid 1px white;
      // margin-top: 250px;
      transform: translate(0%, 100.5%);
      position: absolute;
      width: 100%;
      height: 34.2%;
      background-size: cover;
      // background-image: url(https://cdn.pixabay.com/photo/2017/06/16/07/00/breakfast-2408034_1280.jpg);
      background-position: 100% 45%;
      animation-name: album;
      animation-duration: 13s;
      animation-iteration-count: 1;
      opacity: 0;
      animation-delay:10s;
    }
    &__image-third {
      // border: solid 1px white;
      // margin-top: 250px;
      transform: translate(0%, 100.5%);
      position: absolute;
      width: 100%;
      height: 34.2%;
      background-size: cover;
      // background-image: url(https://cdn.pixabay.com/photo/2016/08/05/14/48/fishing-1572408_1280.jpg);
      // 釣竿↑
      background-position: 100% 45%;
      animation-name: album;
      animation-duration: 13s;
      animation-iteration-count: 1;
      opacity: 0;
      animation-delay:20s;
    }
    &__image-fourth {
      // border: solid 1px white;
      // margin-top: 250px;
      transform: translate(0%, 100.5%);
      position: absolute;
      width: 100%;
      height: 34.2%;
      background-size: cover;
      // background-image: url(https://cdn.pixabay.com/photo/2015/04/20/17/39/man-731900_1280.jpg);
      // 登山？↑
      background-position: 100% 63%;
      animation-name: album;
      animation-duration: 13s;
      animation-iteration-count: 1;
      opacity: 0;
      animation-delay:30s;
    }
    &__image-fifth {
      // border: solid 1px white;
      // margin-top: 250px;
      transform: translate(0%, 100.5%);
      position: absolute;
      width: 100%;
      height: 34.2%;
      background-size: cover;
      // background-image: url(https://cdn.pixabay.com/photo/2016/11/21/15/08/computer-1845880_1280.jpg);
      // 釣竿↑
      background-position: 100% 90%;
      animation-name: album;
      animation-duration: 12s;
      animation-iteration-count: 1;
      opacity: 0;
      animation-delay:40s;
    }
    &__image-top {
      // border: solid 1px white;
      position: absolute;
      width: 100%;
      height: 34%;
      // animation-delay:10s;
    }
    &__image-top-first {
      // border: solid 1px white;
      position: absolute;
      width: 100%;
      height: 34%;
      background-size: cover;
      // background-image: url(https://cdn.pixabay.com/photo/2015/06/08/15/09/photography-801891_1280.jpg);
      // 白机スマホ↑
      background-position: 100% 55%;
      animation-name: album;
      animation-duration: 10s;
      animation-iteration-count: 1;
      opacity: 0;
      animation-delay:0s;
    }
    &__image-top-second {
      // border: solid 1px white;
      position: absolute;
      width: 100%;
      height: 34%;
      background-size: cover;
      // background-image: url(https://cdn.pixabay.com/photo/2020/04/13/10/48/coffee-5037804_1280.jpg);
      background-position: 100% 65%;
      animation-name: album;
      animation-duration: 13s;
      animation-iteration-count: 1;
      opacity: 0;
      animation-delay:7s;
    }
    &__image-top-third {
      // border: solid 1px white;
      position: absolute;
      width: 100%;
      height: 34%;
      background-size: cover;
      // background-image: url(https://cdn.pixabay.com/photo/2019/01/24/09/37/shoes-3952048_1280.jpg);
      background-position: 100% 15%;
      animation-name: album;
      animation-duration: 13s;
      animation-iteration-count: 1;
      opacity: 0;
      animation-delay:17s;
    }
    &__image-top-fourth {
      // border: solid 1px white;
      position: absolute;
      width: 100%;
      height: 34%;
      background-size: cover;
      // background-image: url(https://cdn.pixabay.com/photo/2020/02/04/10/42/camping-4817872_1280.jpg);
      background-position: 100% 70%;
      animation-name: album;
      animation-duration: 13s;
      animation-iteration-count: 1;
      opacity: 0;
      animation-delay:27s;
    }
    &__image-top-fifth {
      // border: solid 1px white;
      position: absolute;
      width: 100%;
      height: 34%;
      background-size: cover;
      // background-image: url(https://cdn.pixabay.com/photo/2016/11/29/08/58/art-1868562_1280.jpg);
      background-position: 100% 50%;
      animation-name: album;
      animation-duration: 15s;
      animation-iteration-count: 1;
      opacity: 0;
      animation-delay:37s;
    }
    &__image-bottom {
      // border: solid 1px white;
      bottom: 0;
      position: absolute;
      width: 100%;
      height: 31%;
      // animation-delay:10s;
    }
    &__image-bottom-first {
      // border: solid 1px white;
      bottom: 0;
      position: absolute;
      width: 100%;
      height: 31%;
      background-size: cover;
      // background-image: url(https://cdn.pixabay.com/photo/2018/07/11/16/32/hands-3531350_1280.jpg);
      background-position: 100% 55%;
      animation-name: album;
      animation-duration: 8s;
      animation-iteration-count: 1;
      opacity: 0;
      animation-delay:0s;
    }
    &__image-bottom-second {
      // border: solid 1px white;
      bottom: 0;
      position: absolute;
      width: 100%;
      height: 31%;
      background-size: cover;
      // background-image: url(https://cdn.pixabay.com/photo/2019/04/30/17/58/restaurant-4169158_1280.jpg);
      background-position: 100% 35%;
      animation-name: album;
      animation-duration: 13s;
      animation-iteration-count: 1;
      opacity: 0;
      animation-delay:5s;
    }
    &__image-bottom-third {
      // border: solid 1px white;
      bottom: 0;
      position: absolute;
      width: 100%;
      height: 31%;
      background-size: cover;
      // background-image: url(https://cdn.pixabay.com/photo/2013/11/28/10/03/golfing-219993_1280.jpg);
      background-position: 100% 50%;
      animation-name: album;
      animation-duration: 13s;
      animation-iteration-count: 1;
      opacity: 0;
      animation-delay:15s;
    }
    &__image-bottom-fourth {
      // border: solid 1px white;
      bottom: 0;
      position: absolute;
      width: 100%;
      height: 31%;
      background-size: cover;
      // background-image: url(https://cdn.pixabay.com/photo/2016/11/22/21/36/audience-1850665_1280.jpg);
      background-position: 100% 40%;
      animation-name: album;
      animation-duration: 13s;
      animation-iteration-count: 1;
      opacity: 0;
      animation-delay:25s;
    }
    &__image-bottom-fifth {
      // border: solid 1px white;
      bottom: 0;
      position: absolute;
      width: 100%;
      height: 31%;
      background-size: cover;
      // background-image: url(https://cdn.pixabay.com/photo/2016/11/29/09/42/camera-1868773_1280.jpg);
      background-position: 100% 50%;
      animation-name: album;
      animation-duration: 18.5s;
      animation-iteration-count: 1;
      opacity: 0;
      animation-delay:35s;
    }
  }
}
