.user-page {
 border: solid 1px white; 
 background-color: black;
 height: 700px;
 width: auto;
 &__upper-box {
   border: solid 1px white;
   height: 230px;
   &__background-image {
     border: solid 1px white;
     height: 100px;
     color: white;
   }
   &__profile {
    border: solid 1px white;
    height: 100px;
    display: flex;
    &__image {
      border: solid 1px white;
      height: 100px;
      color: white;
    }
    &__content {
      border: solid 1px white;
      height: 100px;
      &__name {
        border: solid 1px white;
        height: 30px;
        color: white;
      }
      &__text {
        border: solid 1px white;
        height: 60px;
        color: white;
      }
    }
   }
 }
 &__midle-box {
  border: solid 1px white;
  height: 60px;
  &__details {
    border: solid 1px white;
    height: 40px;
    &__to-follow {
      border: solid 1px white;
      height: 30px;
      width: 100px;
      color: white;
    }
  }
 }
 &__lower-box {
  border: solid 1px white;
  height: 380px;
  &__header {
    border: solid 1px white;
    height: 80px;
    width: 1400px;
    display: flex;
    justify-content: space-around;
    .post-image {
      color: white;
      border: solid 1px white;
      height: 30px;
      padding: 20px 100px;
    }
    .my-followers {
      color: white;
      border: solid 1px white;
      height: 30px;
      padding: 20px 100px;
    }
    .my-follow {
      color: white;
      border: solid 1px white;
      height: 30px;
      padding: 20px 100px;
    }
  }
  &__content {
    border: solid 1px white;
    height: 290px;
    width: 1400px;
    &__text {
      display: flex;
      justify-content: space-around;
      color: white;
      .image_post {
        color: white;
      }
    }
  }
 }
}